/* =======================tp-header================== */

/* header top bar section */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
    overflow-x: hidden;
    line-height: 1.3;
}

/* =======================tp-header================== */

.tp_left {
    display: flex;
    gap: 40px;
}

.tp_icon {
    background-color: rgb(30 55 55 / 4%);
    padding: 8px 16px;
}

.tp_header-area {
    background-color: #f2f7f7;
}

.tp_left span {
    font-size: 14px;
    align-items: center;
    display: flex;
    color: gray;
}

.tp_main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 50px;
}

.map_mail {
    padding: 0px 10px;
}

a.mail_loction {
    text-decoration: none;
    font-size: 15px;
    color: gray;
}

/* ============================= Navebar_Start ============================== */
.tp_navbar {
    padding: 30px 0px;
}

.nav-logo {
    margin: 8px 50px;
}

ul.ul_list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-size: 17px;
    font-weight: 700;
    color: grey;
}

.nav_list {
    margin-bottom: 0px;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 50px;
}

/* .nav_icon {
    margin-top: 12px;
} */
.nav_icon i {
    padding-right: 20px;
    font-size: 22px;
}

button.btn-donate {
    height: 60px;
    width: 180px;
    background: #fe7f4c;
    border: 0px;
    color: #fff;
}

/* ============================= Navebar_End ================================ */

/* ============================== breadcrumb-area-start ========================== */

.breadcrumb_bg.background {
    background-image: url(./Assets/breadcrumb__/bread_1.jpg);
    padding: 145px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    position: relative;
}

.background {
    background-color: #052725;
    position: relative;
    overflow: hidden;
}

.shap_1 {
    position: absolute;
    bottom: -35px;
    left: -2px;
    z-index: 5;
}

.shap_2 {
    position: absolute;
    bottom: 20px;
    left: 0px;
    z-index: 5;
}

.bread__title-sub {
    color: #fff;
    margin: 0px 64px;
}

p.bread-subtitle_1 {
    background-color: #9595955c;
    display: inline-block;
    padding: 10px 16px;
}

h4.bread-title_1 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 0px;
}

/* ============================== breadcrumb-area-End ========================== */

/* ====================================== Event-Area-Start ===================================== */
.container.event {
    max-width: 1200px;
}

.event_area {
    padding: 100px 0px;
}

.event_thumb-1 {
    position: relative;
}

.img_title {
    background-color: #fe7f4c;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 40px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    line-height: 36px;
}

.img_title p {
    font-size: 14px;
    color: #ffffff;
}

.event-shape__1 {
    margin-bottom: 14px;
}

.event_right {
    background-color: #f2f7f7;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 40px;
    margin-bottom: 40px;
}

.event_title h4 {
    font-size: 24px;
    font-weight: 700;
}

.event-icons_4 {
    display: flex;
}

.event__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.event__icon i {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30 55 55 / 4%);
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin: 5px;
}

.card_background {
    background-image: url(./Assets/event/event-1.jpg);
    padding: 206px 0px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #052725;
}

.event-card-bg {
    position: relative;
}

.card_logo {
    position: absolute;
    top: 50px;
    left: 145px;
}

.card_title h4 {
    font-size: 24px;
    font-weight: 800;
    color: #ffffff;
    line-height: 2rem;
    position: absolute;
    left: 80px;
    top: 160px;
    text-align-last: center;
}

.card_subtitle span {
    position: absolute;
    left: 100px;
    bottom: 130px;
    color: #ffffff;
}

.button-donate {
    background-color: #052725;
    display: inline-block;
    border: 1px solid #fe7f4c;
    color: #ffffff;
    height: 58px;
    /* line-height: 55px; */
    padding: 0 51px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    /* text-transform: capitalize; */
    position: absolute;
    transition: all 0.6s linear;
    overflow: hidden;
    z-index: 1;
    left: 100px;
    bottom: 50px;
}

.button-donate:hover {
    background-color: #fe7f4c;
}


.event_prograss {
    background-color: #f2f7f7;
    margin-right: 35px;
    padding: 40px;
}

.progress {
    display: flex;
    height: 10px;
    overflow: hidden;
    font-size: .75rem;
    background-color: #ffffff;
    border-radius: .25rem;
}

.progress-bar {
    background-color: #07847f;
}

.prograss-count {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 14px;
    font-weight: 600;
}

.prograss_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 28px;
}

.prograss_title span {
    font-size: 14px;
    font-weight: 400;
}

.event_main-title h4 {
    font-size: 40px;
    font-weight: 800;
    color: #1e3737;
    padding: 42px 0px;
}

.notic-logo span {
    /* padding: 0px 67px; */
    /* background-color: red; */
    padding-right: 108px;
    padding-left: 20px;
}

.notic-logo {
    /* position: absolute;
    left: -18px; */
    background: #f2f7f7;
    margin-left: -20px;
}

.event-notic {
    position: relative;
    margin-right: 40px;
}

h4.event-payment {
    font-size: 24px;
    font-weight: 800;
    padding: 50px 0px;
    color: #1e3737;
}

.donate_methode span label {
    padding-left: 10px;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}

.donate_methode span {
    padding-right: 68px;
}

button.active {
    color: #f2f7f7;
    background-color: #07847f;
    margin: 0px;
    padding: 20px 35px;
    font-size: 14px;
    font-weight: 700;
    border: 0;
}

.btn-box {
    padding: 20px 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px #dde0e0 solid;
    font-size: 14px;
    font-weight: 700;
    margin-left: 30px;
    background: transparent;
    color: gray;
}
.btn-box:hover{
    background-color: #07847f;
    color: #f2f7f7;
    transition: 0.3s;
}



/* ====================================== Event-Area-End ======================================= */